<h1 class="text-center">Strona Główna władcy pierścieni</h1>

<div class="container">
    <div class="row">
      
      <div class="col align-self-end">
        <h5 class="text-center">Pierścień Jedyny, by władać wszystkimi, czarem je opętać, Pierścień Jedyny, by wszystkie zgromadzić i w ciemnościach spętać. Ten Jedyny, by rządzić wszystkimi, ten Jedyny, by wszystkie odnaleźć, Ten Jedyny, by zebrać je wszystkie i w ciemności zespolić więzami.</h5>>
      </div>
  </div>
<div class="container">
    <div class="col align-self-start">
        <img src="https://images4.alphacoders.com/843/thumbbig-84316.webp" class="img-fluid" alt="...">
      </div>
